@import '@recogito/recogito-client-core/themes/default/globals/globals';

.r6o-widget.r6o-semtags .r6o-semtags-dropdown-bottom {
  background-color:$blueish-white-hi;
  box-shadow:inset 0 7px 8px -10px rgba(0,0,0,0.35);
  overflow-y:auto;
  max-height:200px;

  ul:empty {
    height: 80px;
    position:relative;
  }

  ul:empty:before {
    content:'No results...';
    display:block;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  li {
    padding:10px 30px 10px 10px;
    border-bottom:1px solid $lightgrey-border;
    line-height:130%;
    white-space:nowrap;
    position:relative;

    .icon {
      font-size:16px;
      vertical-align:middle;
      margin-right:5px;
    }

    .id {
      color:desaturate($ocean, 20%);
      display:inline-block;
      margin-right:2px;
    }

    label {
      max-width:100%;
      display:inline-block;
      overflow:hidden;
      text-overflow:ellipsis;

      a {
        color:#333;
      }

      a .external {
        position:absolute;
        right:10px;
      }

    }

    p {
      padding: 0;
      margin: 0;
      font-size: 13px;
      max-width:100%;
      overflow:hidden;
      text-overflow:ellipsis;
    }

  }

  li:last-child {
    border-bottom:none;
  }

  li:hover {
    background-color:rgba(255, 255, 255, 0.8);
    cursor:pointer;
  }

}
