@import '@recogito/recogito-client-core/themes/default/globals/globals';

.r6o-widget.r6o-semtags {
  font-size:14px;
  background-color:$blueish-white;

  ul {
    padding:0; 
    margin:0;
    list-style-type:none;
  }

  .r6o-semtags-taglist.dropdown-open {
    border-color:$ocean;
  }

  .r6o-semtags-taglist {
    padding:4px;
    border-width:1px 1px 0 1px;
    border-style: solid;
    border-color:transparent;

    .placeholder {
      display:inline-block;
      color:#c2c2c2;

      svg {
        margin-left:5px; 
        vertical-align:text-bottom; 
      }

      label {
        margin-left:2px;
      }
    }

    ul {
      display:inline-block;
    }

  }

  .r6o-semtags-dropdown-container {
    position:relative;

    .r6o-semtags-dropdown {
      position:absolute;
      width:100%;
      background-color:#fff;
      z-index:9999;
      overflow:hidden;
      box-sizing:border-box;
      border-width:0 1px 1px 1px;
      border-style:solid;
      border-color:$ocean;
    
      -webkit-border-bottom-right-radius:3px;
      -webkit-border-bottom-left-radius: 3px;
      -khtml-border-radius-bottomright: 3px;
      -khtml-border-radius-bottomleft:  3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft:  3px;
              border-bottom-right-radius:3px;
              border-bottom-left-radius: 3px;
    
      -webkit-box-shadow:0 4px 4px rgba(0, 0, 0, .15);
        -moz-box-shadow:0 4px 4px rgba(0, 0, 0, .15);
              box-shadow:0 4px 4px rgba(0, 0, 0, .15);
    }

    .r6o-semtags-sources {
      border-bottom:1px solid $lightgrey-border-darker;
      
      ul {
        padding-left:8px;
        padding-right:8px;
      }

      li {
        padding:5px 8px 1px 8px;
        display:inline-block;
        cursor:pointer;
      }

      li.selected {
        border-bottom:4px solid $ocean;
      }

    }

  }

}